body{
	  font-family: 'Roboto', sans-serif;  
}
.noinvoice h2{
	    text-align: right;
}

.description_info{
 	margin-top: 90px;
 	margin-bottom: 70px;
 	margin-left: 70px;   
}
.bill_info{
	margin-top: 90px;
}
.footer{
	margin-top: 40px;
}


